/* combinator selector */



/* child combinnator selector */
div p{
    color:yellow;
}


/* descendent selector */

div >h1{
    color: black;
}

/* adjescent  selector */
div+p{
    color: green;
}

/* Genral  sibling selector */

div~p{
    color: pink;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;

}