#id1{
    color: aquamarine;
}

.class1{
    font-family: Arial, Helvetica, sans-serif;
    color:red;
}
p{
    font-size: medium;
    color: darkblue;
}
/* Grouping tag */
#id1,.class1 ,p{
    font-style: italic;
}

/* universal tag */
*{
    background-color: orange
}