*{
    background: radial-gradient(rgb(202, 46, 46),white) ;
}
div{
    height: 400px;
    width: 300px;
    background: radial-gradient(rgb(100,26,26),rgb(183, 175, 175));
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 100px;
    
    padding-bottom: 0px;
    
    margin-top: 100px;
    margin-left: 19px;
    border-style: dotted;
    border-color: yellow;
    border-width: 3px;
    box-shadow: 20px 25px 20px 20px  rgb(9, 3, 3);
    

}

div:hover{
    background: gray;
}